{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Lista de posts</title>
</head>
<body>
    <h1>My Blog | Lista de publicaciones</h1>
    <hr>
    {% for post in publicaciones %}
        <h2>
            <a href="{{post.obtener_url_absoluto}}">
                {{ post.titulo }}
            </a>
        </h2>
        <p>
            Publicado el {{ post.publicado }}, por {{post.autor}}
        </p>
    {% endfor %}
    <div id="paginacion">
        <span>
            {% if publicaciones.has_previous %}
                <a href="?pagina={{publicaciones.previous_page_number}}">Página Anterior</a>
            {% endif %}
            <span>
                Página: {{publicaciones.number}} / {{publicaciones.paginator.num_pages}}
            </span>
            {% if publicaciones.has_next %}
            <a href="?pagina={{publicaciones.next_page_number}}">Siguiente</a>
            {% endif %}
        </span>
    </div>
</body>
</html>